@use "../../../styles/variables.module" as var;

.toDos_container {
  min-width: 375px;
  padding: 1rem 1rem 0rem 1rem;

  height: calc(100dvh - 66px); // to let it start above controlbar

  display: flex;
  flex-direction: column;
  justify-content: flex-end;

  .item_container {
    display: flex;
    gap: 0.5rem;
    overflow-y: auto;

    .active,
    .inactive {
      width: 50%;
      display: flex;
      flex-direction: column-reverse;
      gap: 8px;
      overflow-y: auto;
    }
  }

  .sortByPanel {
    display: flex;
    justify-content: center;
    gap: 1rem;
    padding: 1rem 1rem 0.5rem 1rem;

    button {
      padding: 0 0.5rem;
      border-radius: 5px;
    }
  }
}