@use "../../../styles/variables.module" as var;

.controlbar {
  position: fixed;
  bottom: 0;

  .controlPanel {
    display: flex;
    justify-content: space-between;
    padding: 1rem;

    background-color: blue;

    .search_container {
      position: relative;

      .search_input {
        text-indent: 0.5rem;
        max-width: 165px;
        border-radius: 5px;
        border: 1px solid var.$color_font_white;
      }
  
      .search_clear {
        position: absolute;
        top: 6%;
        left: 78%;

        width: 35px;
        background-color: transparent;
        border: none;
        color: hsla(0, 100%, 1%, 0.5)
      }
    }

    .filter_container {
      display: flex;
      gap: 0.5rem;

      select{
        border-radius: 5px;
        border: 1px solid var.$color_font_white;
      }

      button {
        padding: 0 0.5rem;
        border-radius: 5px;
        border: 1px solid var.$color_font_white;
      }
    }
  }
}