@use "../../../styles/variables.module" as var;

.loading_bar_container {
  height: 4px;
  width: 100%;
  border-radius: 10px;
  overflow-x: hidden;
}

.loading_bar {
  height: 100%;
  width: 0;
  background-color: var.$color_accent_greenlight;
  border-radius: 10px;
  transition: width 25s ease-in-out;
}

.loading_message {
  @keyframes blink {
    0%, 100% { opacity: 1; }
    50% { opacity: 0.5; }
  }
  
  margin-top: 0.5rem;
  color: var.$color_font_white;
  animation: blink 2s infinite;
}