@use "../../../styles/variables.module" as var;

.todo_item {
  font-size: 0.65rem;
  color: green;
  background-color: lightgray;
  border: 1px solid black;
  border-radius: 10px;

  .editSaveBtn {
    min-width: 2rem;
    font-weight: 700;
    background-color: green;
    border: 2px solid var.$color_font_white;
    border-radius: 10px;
    color: var.$color_font_white;
  }

  .deleteBtn {
    min-width: 2rem;
    font-weight: 700;
    background-color: red;
    border: 2px solid var.$color_font_white;
    border-radius: 10px;
    color: var.$color_font_white;
  }

  .editView {
    display: flex;
    gap: 0.2rem;

    .editView_line1,
    .editView_line3,
    .editView_line4 {
      display: flex;
      // gap: 0.2rem;
      justify-content: space-between;
    }

    .editView_line1 input:nth-of-type(1) {
      width: 105px;
    }
    .editView_line1 input:nth-of-type(2) {
      width: 30px;
    }
    .editView_line2 input {
      width: 100%;
    }
  }

  .displayView {
    display: flex;
    gap: 0.5rem;

    .displayView_line1,
    .displayView_line3,
    .displayView_line4 {
      display: flex;
      // gap: 0.5rem;
      justify-content: space-between;
    }

    .displayView_line1 {
      font-weight: 700;
    }
    
    .displayView_line1 input:nth-of-type(1) {
      width: 105px;
    }
    .displayView_line1 input:nth-of-type(2) {
      width: 30px;
    }
    .displayView_line2 input {
      width: 100%;
    }
  }
}

.active {
  justify-content: flex-start;
}

.inactive {
  justify-content: space-between;
  padding-left: 0.5rem;
}