@use "../../../styles/variables.module" as var;

.todo_item {
  font-size: 0.65rem;
  // background-color: lightgray;
  // color: var.$color_root_background;
  // border: 1px solid var.$color_font_white;

  .editSave_btn {
    min-width: 32px;
    min-height: 34px;
    font-weight: 700;
    color: var.$color_font_white;
    background-color: green;
    border: 1px solid var.$color_font_smoke;
    border-radius: 8px;

    display: flex;
    justify-content: center;
    align-items: center;
  }

  .delete_btn {
    min-width: 32px;
    min-height: 34px;
    font-weight: 700;
    background-color: red;
    border: 1px solid var.$color_font_smoke;
    border-radius: 8px;

    display: flex;
    justify-content: center;
    align-items: center;
  }

  .editView {
    display: flex;

    .editView_container {
      width: 100%;
      padding: 0.1rem 0.2rem 0.1rem 0.1rem;

      display: flex;
      flex-direction: column;
      row-gap: 1px;

      background-color: var.$color_accent_bluelight;
      border: 1px solid var.$color_accent_greendark;
      border-radius: 8px;

      .editView_line1,
      .editView_line2,
      .editView_line3,
      .editView_line4 {
        display: flex;
        justify-content: space-between;

        input,
        select {
          height: 20px;
          border-radius: 5px;
          text-indent: 0.15rem;
        }
      }
  
      .editView_line1 input:nth-of-type(1) {
        width: 100%;
      }
      .editView_line1 input:nth-of-type(2) {
        width: 35px;
      }
      .editView_line2 input {
        width: 100%;
      }
      .editView_line3 select:nth-of-type(1) {
        width: 53px;
      }
      .editView_line3 select:nth-of-type(2) {
        width: 95px;
      }
      .editView_line4 select:nth-of-type(1) {
        width: 53px;
      }
      .editView_line4 select:nth-of-type(2) {
        width: 95px;
      }
    }
  }

  .displayView {
    display: flex;

    .displayView_container {
      width: 100%;
      padding: 0.1rem 0.25rem;

      .displayView_line1,
      .displayView_line2,
      .displayView_line3,
      .displayView_line4 {
        display: flex;
        justify-content: space-between;
      }
  
      .displayView_line1 {
        font-weight: 800;
      }
    }
  }

  .active {
    border-radius: 8px;
    background-color: var.$color_accent_bluelight;
    border: 1px solid var.$color_accent_greendark;
    color: var.$color_font_white;
  }

  .inactive {
    border-radius: 8px;
    background-color: var.$color_accent_bluelight;
    border: 1px solid var.$color_accent_greendark;
    color: var.$color_font_white;
  }
}