.toDos_container {
  min-width: 375px;
  padding: 1rem;

  display: flex;
  justify-content: space-around;

  text-align: center;
  background-color: rgb(39, 199, 191);

  .active {
    display: flex;
    flex-direction: column;
    gap: 5px;
  }

  .inactive {
    display: flex;
    flex-direction: column;
    gap: 5px;
  }
}