@use "../../../styles/variables.module" as var;

.login {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);

  .passcode_container {
    display: flex;
    gap: 0.5rem;

    input {
      text-indent: 0.5rem;
      border-radius: 5px;

      background-color: var.$color_accent_bluedark;
      border: 1px solid var.$color_accent_greendark;
      color: var.$color_font_smoke;
    }

    input:focus {
      border: 1px solid var.$color_accent_greenlight;
      outline: none;
    }


    button {
      padding: 0 0.5rem;
      border-radius: 5px;

      background-color: var.$color_accent_bluedark;
      border: 1px solid var.$color_accent_greendark;
      color: var.$color_font_smoke;
    }
  }

  .animation_container {
    height: 4rem; // prevents moving input when no content
    padding: 1rem 0rem 0rem 0rem;
    text-align: center;

    .err_msg {
      margin-top: 1.5rem;
      color: red;
    }
  }
}