@use "../../../styles/variables.module" as var;

.login {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);

  .passphrase_container {
    display: flex;
    gap: 0.5rem;

    input {
      text-indent: 0.5rem;
      border-radius: 5px;
      border: 1px solid var.$color_font_white;
    }

    button {
      padding: 0 0.5rem;
      border-radius: 5px;
      border: 1px solid var.$color_font_white;
    }
  }

  .err_container {
    height: 1.5rem; // prevents moving input on err
    padding: 1rem 0 1rem 2rem;
    color: red;
  }
}