// ==================================
//           IMPORT
// ==================================
@use "./generals.module.scss";
@use "./mixins.module.scss";
@use "./resets.module.scss";
@use "./variables.module.scss" as var;

// ==================================
//           APP STYLES
// ==================================

// @media screen and (max-width: var.$breakpoint_xxs) {
//   #root {
//   max-width: var.$root_width_desktop;
//   }
// }

main {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  background-color: var.$color_root_background;
}